<h2>Reactive: Básicos</h2>
<div class="row">
    <div class="col">
        <form autocomplete="off" [formGroup]="miFormulario" 
              (ngSubmit)="guardar()">

            <!-- Campo de producto -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Producto </label>
                <div class="col-sm-9">
                    <input type="text" 
                           class="form-control"
                           placeholder="Nombre del producto"
                           formControlName="nombre">
                    
                    <span *ngIf="validarCampo('nombre')" 
                           class="form-text text-danger ms-1"
                          >El nombre debe de ser de tres letras
                    </span>
                </div>
            </div>

            <!-- Campo de Precio -->
            <div class="mb-3 row">
                <label class="col-sm-3 col-form-label"> Precio </label>
                <div class="col-sm-9">
                    <input type="number" 
                           class="form-control" 
                           placeholder="Precio del producto"
                           formControlName="precio">
                        <span *ngIf="validarCampo('precio')"
                               class="form-text text-danger ms-1">
                            El precio debe ser igual o mayor que cero
                        </span>
                    </div>
                </div>
                
                
                <!-- Campo de Existencias -->
                <div class="mb-3 row">
                    <label class="col-sm-3 col-form-label">Existencias</label>
                    <div class="col-sm-9">
                        <input type="number" 
                        class="form-control" 
                        name="existencias"
                        placeholder="Existencias del producto"
                        formControlName="existencias">
                        <span *ngIf="validarCampo('existencias')"
                               class="form-text text-danger ms-1">
                            Las existencias deben ser igual o mayor que cero
                        </span>
                    </div>
                </div>
                
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        <span>Valid</span>
        <pre> {{miFormulario.valid}} </pre>
     
        <span>Pristine</span>
        <pre> {{miFormulario.pristine}} </pre>

        <span>Touched</span>
        <pre> {{miFormulario.touched}} </pre>

        <span>Valor</span>
        <pre> {{miFormulario.value | json }} </pre>
        
        <span>Precio error</span>
        <pre> {{miFormulario.controls.precio.errors | json }} </pre>
        
    </div>
</div> 